footer {
    background-color: #798645;
    height: 86px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
